@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Irish+Grover&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-kantumruy: "Kantumruy Pro";
  --font-katari: "Cormorant Garamond";
  --font-grover: "Irish Grover";
  --font-lato: "Lato";
  --yellow: #dbff00;
  --violet: #8e6ff8;
  --white: #ffffff;
  --black: #000000;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-lato);
  letter-spacing: 0.2px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img {
  user-select: none;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.animate-spin {
  transform: rotate(360deg);
  transition: "transform 0.5s ease";
}
